pkgbase = linux
	pkgdesc = Linux
	pkgver = 7.0.7.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.0.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.0.7.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v7.0.7-arch1/linux-v7.0.7-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v7.0.7-arch1/linux-v7.0.7-arch1.patch.zst.sig
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = c8e1fe86a3aaff2de6f7401383f959283510c389ff84c15ab711c8fbceb25df4
	sha256sums = SKIP
	sha256sums = 4a5fa687751890e3850cdbce18728de631877d0c9290d8a3b2a4fd164cf12c63
	sha256sums = SKIP
	b2sums = ae7214087a29d81c77b2351a4781ad248726f2e7b0a8ddb75790fd64825032d94ddb9526e979f0a41eb4b4da0bf76c63b1681e915c90f1706de7df0980c249f9
	b2sums = SKIP
	b2sums = 26202ba5c3155fb045550a349c5f2d43b79848383bfc2052ba22157350327c1e4b8fd347adbe4f978820f26c49d078bdd438d3cf15ed6d8f6c304926dc086200
	b2sums = SKIP
	source_x86_64 = config.x86_64
	b2sums_x86_64 = 9644c05ccef1e7d251462cb5b0b8579e39e892f72b1ec390a030fc9b36d5a2888adb3442b6e1700ff4ca0c983921230822b75f243a7e5db082a2140297d6da83

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-headers: headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	provides = LINUX-HEADERS

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
